@import 'global.scss';

$color-navbar-primary: #212529;
$color-navbar-secondary: crimson;

header {
	width: 100%;
	height: 80px;
	background-color: rgba($color: #ffffff, $alpha: 0.6);
	position: fixed;
	z-index: 1000;
	transition: 0.3s all ease;

	nav {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 80px;
		align-items: center;
		grid-gap: 24px;
		font-weight: 600;

		a {
			color: $color-navbar-primary;
			transition: 0.3s all ease;

			&:hover {
				color: $color-navbar-secondary;
			}
		}

		.nav__items {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			transition: 0.3s all ease;
		}
	}

	.logo {
		color: $color-navbar-primary;
	}
}

header.sticky {
	.active-open i {
		color: $color-navbar-primary;
	}

	color: $color-navbar-primary;
	background-color: rgba($color: #ffffff, $alpha: 1);
}

.active-closed,
.active-open {
	display: none;
}

@media (max-width: 576px) {
	main {
		transition: 0.2s all ease;
	}

	header {
		width: 100vw;
		height: 60px;
		display: flex;
		align-items: center;
		background-color: #ffffff;

		.logo {
			color: $color-navbar-primary;
		}

		nav {
			width: 90%;
			margin: 0 auto;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;

			a {
				color: $color-navbar-primary;
			}

			.active-open {
				i {
					color: $color-navbar-primary;
				}
			}

			.nav__items {
				width: 80vw;
				height: calc(100vh - 60px);
				position: fixed;
				top: 60px;
				left: -120%;
				z-index: 1000;
				display: flex;
				justify-content: initial;
				align-items: initial;
				flex-direction: column;
				background-color: #ffffff;
				text-align: left;

				.nav__link {
					padding: 1rem;
					border-bottom: rgba(
							$color: $color-navbar-primary,
							$alpha: 0.3
						)
						solid 1px;
				}
			}

			.nav__items.active {
				left: 0%;
			}
		}
	}

	.active-closed {
		display: inline-block;
		padding-top: 32px;
		padding-right: 16px;
		text-align: right;
		width: 100%;
	}

	.active-open {
		display: block;
		grid-column-start: 12;
		text-align: center;
	}

	.nav-active {
		// Optional: mover el contenido al activar el menu
		// transform: translate(80%, 0);
		background-color: rgba($color: #000000, $alpha: 0.3);
	}

	.no-scroll {
		overflow: hidden;
	}
}
